<div class="container">
  <div class="middle">
      <b>Variation of average intensity with time (EMG vs GSR) in Audio Mode</b>
      <br>
      <img src="../../assets/images/intensityAudio.jpg" width="100%" height="500px">
  </div>
  <div class="middle top">
      <b>Variation of average duration with time (EMG vs GSR) in Audio Mode</b>
      <br>
      <img src="../../assets/images/durationAudio.jpg" width="100%" height="500px">
  </div>
  <div class="middle top">
      <b>Variation of average frequency with time (EMG vs GSR) in Audio Mode</b>
      <br>
      <img src="../../assets/images/freqAudio.jpg" width="100%" height="500px">
  </div>

  <!-- gvvvvvvvvvvvvvvvvv -->
  <div class="middle">
    <b>Variation of average intensity with time (EMG vs GSR) in Visual Mode</b>
    <br>
    <img src="../../assets/images/intensityVisual.jpg" width="100%" height="500px">
</div>
<div class="middle top">
    <b>Variation of average duration with time (EMG vs GSR) in Visual Mode</b>
    <br>
    <img src="../../assets/images/durationVisual.jpg" width="100%" height="500px">
</div>
<div class="middle top">
    <b>Variation of average frequency with time (EMG vs GSR) in Visual Mode</b>
    <br>
    <img src="../../assets/images/frequencyVisual.jpg" width="100%" height="500px">
</div>
<!-- d cccccdffffffff -->

<div class="middle">
    <b>Variation of average intensity with time (EMG vs GSR) in Audio-Visual Mode</b>
    <br>
    <img src="../../assets/images/intensityAV.jpg" width="100%" height="500px">
</div>
<div class="middle top">
    <b>Variation of average duration with time (EMG vs GSR) in Audio-Visual Mode</b>
    <br>
    <img src="../../assets/images/durationAV.jpg" width="100%" height="500px">
</div>
<div class="middle top">
    <b>Variation of average frequency with time (EMG vs GSR) in Audio-Visual Mode</b>
    <br>
    <img src="../../assets/images/frequencyAV.jpg" width="100%" height="500px">
</div>
<!-- dddddddds -->
<div class="middle">
    <b>Variation of average intensity with time (EMG vs GSR) in all Modes</b>
    <br>
    <img src="../../assets/images/intensityALLmodes.jpg" width="100%" height="500px">
</div>
<div class="middle top">
    <b>Variation of average duration with time (EMG vs GSR) in all Mode</b>
    <br>
    <img src="../../assets/images/durationALLmodes.jpg" width="100%" height="500px">
</div>
<div class="middle top">
    <b>Variation of average frequency with time (EMG vs GSR) in all Mode</b>
    <br>
    <img src="../../assets/images/frequencyALLmodes.jpg" width="100%" height="500px">
</div>
  
</div>