<div class="childcomp">
  <div class="middle">
      <b>Your Current Stress Level: </b><b class="coloredtxt"> {{stressLevelMsg}}</b>
  </div>

  <div class="row box">
      <div class="col-md-2">
        </div>
    <div class="col-md-3 box-select" (click)="retest()">
      <b>Retest</b>
    </div>
    
    <div class="col-md-3 box-select" (click)="remedy()">
      <b>Remedy</b>
      </div>
      
      <div class="col-md-3 box-select" (click)="showStat()">
        <b>Statistics</b>
        </div>
        <div class="col-md-2">
          </div>
  </div>
  <div class="footer">
      <div class="row innerfooter">
        
        <div class="col-md-3">
            <img src="../../assets/images/newy2.png" width="80px">
        </div>
        <div class="col-md-3">
            <img src="../../assets/images/newy1.png" width="80px">
          </div>
        <div class="col-md-3">
            <img src="../../assets/images/newy1.png" width="80px">
          </div>
          <div class="col-md-3">
              <img src="../../assets/images/newy2.png" width="80px">
          </div>
      </div>
    </div>
</div>
