<div class="content final-height">
  <div class="row headingforlogo">
    <div class="col-md-1">
      <img src="../../assets/images/thinking.png" width="80px">
    </div>
    <div class="col-md-4 margintop">
        Mental Health Analyser
    </div>
    <div class="col-md-9">
    </div>
    
  </div>
<div class="row text-center containing-box">
  <div class="col-md-1">
  </div>
<div class="col-md-4 border box" (click)="research()">
  <div class="inner-box">
      <b>
          Our Research work
      </b>
  </div>
  
</div>
<div class="col-md-2">

</div>

<div class="col-md-4 border box" (click)="mentalHealth()">
  <div class="inner-box">
      <b> 
          Know Your Mental Health
      </b>
  </div>
  
</div>
<div class="col-md-1">
  </div>
</div>
</div>
<div class="footer">
  <div class="row innerfooter">
    
    <div class="col-md-3">
        <img src="../../assets/images/newy2.png" width="80px">
    </div>
    <div class="col-md-3">
        <img src="../../assets/images/newy1.png" width="80px">
      </div>
    <div class="col-md-3">
        <img src="../../assets/images/newy1.png" width="80px">
      </div>
      <div class="col-md-3">
          <img src="../../assets/images/newy2.png" width="80px">
      </div>
  </div>
</div>